
.heder{
    display: flex;
    align-items: center;
    margin-top: 40px;
    @media (max-width:567px){
        display: block;
    }
    
    
    .heder_logo{
        display: block;
        @media (max-width:567px){
            max-width: 12px;
            margin-top: 50px;
            margin-left: 20px;
            
        }
    }

    .heder_nav{
        @media (max-width:567px){
            
            display: none;
            
        }
        display: block;
        margin-right: 64px;
        ul{
            display:flex ;
            list-style: none;
             
            li{
                margin-left:40px;

                a{
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #36536B;
                    mix-blend-mode: normal;
                    opacity: 0.7;
                }
            }
        }

    }

    .heder_link{
        @media screen and (max-width:567px ){
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 632px;
        width: 173px;
        height: 48px;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        cursor: pointer;
        :hover{
            background-color: #a66b82;
        }
        a{
            display: block;
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.115385px;
            color: #FBFCFE;

        }
        @media (max-width:567px){
            
            display: none;
            
        }
    }
   
}

.heder_info{
    display: flex;
    align-items: center;
    margin-top: 100px;
  @media (max-width:567px) {
     display: flex;
     flex-direction: column;
  }
    .heder_title{
        display: block;
        max-width: 546px;
        height: 345px;
        
        @media (max-width:567px) {
            margin-top: 300px;
            max-width: 206px;
            height: 100px;
        }
        .heder_form{
            @media (max-width:567px) {
               display: flex;
               flex-direction: column; 
               position: none;
            }
            display: flex;
            position: relative;
            
           .form_banner{
            @media (max-width:567px) {
                width: 325px;
                height: 48px;
                padding-left: 60px;
                cursor: pointer;
                margin-left: -55px;
             }
            display: block;
           
            width: 445px;
            height: 48px;
            border-radius:24px ;
            padding-left: 20px;
            cursor: pointer;
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            border: 1px solid rgba(71, 67, 67, 0.482);
           } 
         
          
           .btn_title{
          
            position: absolute;
            margin-left: 300px;
            width: 173px;
            height: 48px;
            border: none;
            border-radius: 24px;
            background: #BA4270;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            cursor: pointer;
            @media (max-width:567px) {
                position: none;
                width: 327px;
                height: 48px; 
                font-size: 10x;
                margin-top: 69px;
                position: none;
                margin-left: -60px;
            }
            

           }
           .btn_title:hover{
            background-image: #a66b82;
        }

        }


        h2{
            @media (max-width:567px) {
                margin-top: 210px;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 36px;
                /* or 112% */

                text-align: center;
                letter-spacing: -0.246154px;

                color: #36536B;

            }
            margin-top: -20px;
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.553846px;
            color: #36536B;
         
        }
        p{
            @media (max-width:567px) {
                margin-top: 120px;
                
            }
            margin-top: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #6C8294;
           strong{
            color: #6C8294;
           }
        }
    }
    .hero_image{
        margin-left: 206px;
        @media (max-width:567px) {
            margin-top:-500px;
            margin-left: -280px;
            height: 239px;
            width: 127px;
          
           
            
        }
    }
}
